.header {
    display: flex;
    font-family: Roboto, sans-serif;
    background-color: #333333;
    padding: 1.5rem 2rem;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: .5rem;
    z-index: 1;
}

.headerTitle {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    text-align: left;
    color: white;
}