.page {
    padding: .5rem 1.5rem;
}

.actionButton {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
}

.shifterLeft {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

.shifterDisabled {
    display: none;
}

.shifterRight {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}